# Backend
MONGODB_URI=mongodb://mongodb:27017
MONGODB_DB_NAME=rag_chatbot
CHROMA_PERSIST_DIR=chroma
CHROMA_COLLECTION_NAME=rag_chunks
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=RAGMultiDocs
UPLOAD_DIR=storage/raw
MARKDOWN_DIR=storage/markdown
CORS_ORIGINS=http://localhost:3000

# Frontend
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
